name: Deploy To EC2 via SSH CI/CD 3

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Copy files to EC2
      uses: appleboy/scp-action@v0.1.7
      with:
        host: ${{ secrets.EC2_HOST }}
        username: ${{ secrets.EC2_USER }}
        key: ${{ secrets.EC2_SSH_KEY }}
        source: "./"
        target: "${{ secrets.EC2_PROJECT_PATH }}"
        overwrite: true
        strip_components: 1
        exclude: |
          .git/
          .github/
          node_modules/
          vendor/
          docker-data/

    - name: Run SSH Commands
      uses: appleboy/ssh-action@v0.1.7
      with:
        host: ${{ secrets.EC2_HOST }}
        username: ${{ secrets.EC2_USER }}
        key: ${{ secrets.EC2_SSH_KEY }}
        script: |
          cd ${{ secrets.EC2_PROJECT_PATH }}
          sudo docker-compose down
          sudo docker-compose build --no-cache
          sudo docker-compose up -d
