name: Push-to-EC2

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Deploy files to EC2
        uses: easingthemes/ssh-deploy@main
        with:
          remoteHost: ${{ secrets.HOST_DNS }}
          remoteUser: ${{ secrets.USERNAME }}
          target: ${{ secrets.TARGET_DIR }}
        env:
          SSH_PRIVATE_KEY: ${{ secrets.EC2_SSH_KEY }}

      - name: Restart Apache (if needed)
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.HOST_DNS }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            sudo systemctl restart apache2
